body {
	font-family: 'Mansalva', serif;
}
h1 {

font-family: 'Roboto Slab', serif;
}
#pictureOfSelf {
	width: 25%;
}
#para-one {
	font-family: 'Roboto Slab', serif;
}
#pictureOfSelf.hover {
	width: 50%;
}
